<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body style="background-image: url(/images/Background.jpg)">
<h2>Student Information</h2>
<form method = "post" action="addStudent">
    <label >Name</label>
    <input type="text" placeholder="Enter Student Name" name="name" /><br></br>
    <label >Age</label>
    <input type="text" placeholder="Enter Student Age" name="age" /><br></br>
    <label >Student ID</label>
    <input type="text" placeholder="Enter Student ID" name="id" /><br></br>
    <input type="submit" value = "send info"/>
</form>




</body>
</html>